# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual environments
.venv/
env/
venv/
ENV/

# Environment variables
.env
.env.*

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Log files
*.log

# pytest
.cache/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json

# coverage
htmlcov/
.coverage
.coverage.*

# dist
build/
dist/
*.egg-info/

# Docker
*.pid
docker-compose.override.yml
**/__docker_build__/
**/.docker/
**/.container/
postgres_data/

# SQLite (если вдруг используется)
*.sqlite3

# Local dev files
*.local
*.bak
*.swp

# Python tooling
poetry.lock
pip-wheel-metadata/
